@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

@layer base {
    /* To extend a current class */
    h3 {
        @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
    }

    h5 {
        @apply mb-2 text-2xl font-bold text-darkGrayishBlue;
    }
}

.section-container {
    /* A new custom class which can be used in the HTML file */
    @apply max-w-6xl mx-auto text-center px-10;
}

.section-content {
    @apply max-w-3xl mx-auto leading-9 text-center text-grayishBlue;
}

.button-container {
    @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}

body {
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: contain; /* contain: Scales the image as large as possible within its container without cropping or stretching the image. 
      If the container is larger than the image, this will result in image tiling, unless the background-repeat property is set to no-repeat. */
}

@media (max-width: 576px) {
    body {
        background-image: url("../images/bg-header-mobile.png");
    }
}

.ficon:hover {
    /* Custom class for the social icons / links */
    filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
        brightness(101%) contrast(94%); /* Another way to change the color and therefor have a hover effect */
}
